# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/


# Other recommended by http://islegend.com/development/setting-global-gitignore-mac-windows/
Thumbs.db
.log
.sql
.sass-cache/
.codekit-config.json

# For Hibernate, this includes username and password
hibernate.cfg.xml

# Compiled .class files
*.class
